table {
    border-collapse: collapse;
    width: 100%;

        }
        td, th {
        border: 1px solid #cccccc;
        padding: 10px;
        text-align: center;
        }
        #dform {
            margin-top: 50px;
            margin-left: 50px;
            width: 100%;
        }
        #search {
            width: 50%;
        }